[Unit]
Description=idontneedit web app
After=network.target

[Service]
WorkingDirectory=/srv/idontneedit/app

ExecStart=/srv/idontneedit/venv/bin/gunicorn config.wsgi:application --bind unix:/srv/idontneedit/run/gunicorn.sock --workers 3

User=deploy
Group=www-data

RuntimeDirectory=idontneedit
RuntimeDirectoryMode=0755

Restart=always
RestartSec=3

Environment=DJANGO_SETTINGS_MODULE=config.settings
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-/srv/idontneedit/env

[Install]
WantedBy=multi-user.target
